<div class="row">
	<div class="col-12">
		<mat-toolbar>
			<mat-toolbar-row>
				<button mat-icon-button>
					<mat-icon >menu</mat-icon>
				</button>
				<h1>Poll Engine</h1>
				<span class="menu-spacer"></span>
				<div>
					<a mat-button [routerLink]="'/polls'"> Polls </a>
					<a mat-button [routerLink]="'/create-poll'"> Create poll </a>
					<a mat-button [routerLink]="'/poll'"> Respond to poll </a>
					<a mat-button [routerLink]="'/users'"> Create User </a>
					<a mat-button [routerLink]="'/activities'"> Activities </a>
					<a mat-button href="#" (click)="logout()">Logout</a>
				</div>
			</mat-toolbar-row>
		</mat-toolbar>
	</div>
</div>
