<div class="row">
	<div class="col-12">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Polls
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('polls')" >List polls</a>
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('create-poll')">Create poll</a>
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('resolve-poll')">Resolve poll</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('evaluate-poll')">Poll results</a>
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Clients
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('polls')" >Clients List polls</a>
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('create-poll')">Create poll</a>
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('resolve-poll')">Resolve poll</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('evaluate-poll')">Poll results</a>
						</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link dropdown-toggle" href="#">Access control</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('users')">Users</a>
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('roles')">Roles</a>
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('permissions')">Permissions</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" (click)="doOnMenuSelect('log-audit')">Log Audit</a>
						</div>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
		
	</div>
</div>
