<div class="container">
	<div class="row">
		<div class="col-12">
			<fieldset>
				<div class="card">
					<div class="card-content">
						<div class="card-header">
							<h3>Create new poll</h3>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12">
									<div class="form">
										<div class="row">
											<div class="col-12">
												<div class="form-group">
													<label class="control-label">Poll Id</label><br>
													<input type="text" class="my-form-control-id" [readonly]="true" [disabled]="true">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-8">
												<div class="form-group">
													<label class="control-label">Title</label>
													<input type="text" class="form-control" >
												</div>
											</div>
											<div class="col-4">
												<div class="form-group date">
													<label class="control-label">Creation Date</label>
													<input class="form-control" placeholder="yyyy-mm-dd"
													name="dpCreationDt" [(ngModel)]="creationDt" ngbDatepicker #d="ngbDatepicker"
													[placement]="placement" [positionTarget]="buttonEl" style="width: 80%; float: left;">
													<div class="input-group-append" style="float: none;" >
														<button #buttonEl class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="k-calendar-icon"></i></button>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-6">
												<div class="form-group">
													<label class="control-label">Client</label>
													<input type="text" class="form-control" >
												</div>
											</div>
											<div class="col-3">
												<div class="form-group">
													<label class="control-label">Due Date</label>
													<input class="form-control" placeholder="yyyy-mm-dd"
													name="dpDueDt" [(ngModel)]="dueDt" ngbDatepicker #d1="ngbDatepicker"
													[placement]="placement" [positionTarget]="buttonEl1" style="width: 80%; float: left;">
													<div class="input-group-append" style="float: none;" >
														<button #buttonEl1 class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><i class="k-calendar-icon"></i></button>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group">
													<label class="control-label">Status</label>
													<select class="form-control">
														<option value="1">Created</option>
														<option value="2">Scheduled</option>
														<option value="3">Presented</option>
														<option value="4">Evaluated</option>
														<option value="5">Completed</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<div class="form-group">
													<label class="control-label">Questions</label>
													<app-grid-question-options
													[gridData]="gridData"
													[showActionsColumn]="false"
													[showSelectColumn]="true"
													[selectedIndex]="selectedIndex"
													(onSelectionChange)="doOnSelectionChange($event)"
													[idFieldName]="'questionId'">
												</app-grid-question-options>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<button type="button" id="addQuestionBtn" class="btn btn-primary mr-2" (click)="addNewQuestionClick(questionForm)" >Add Question</button>
												<button class="btn btn-secondary mr-2" (click)="editQuestionClick(questionForm)" >Edit Question</button>
												<button class="btn btn-danger mr-2">Delete Question</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 text-right">
								<label class="control-label">Save and countinue</label>
								<input type="checkbox" class="checkbox">
								<button class="btn btn-primary mr-2">Save Poll</button>
								<button class="btn btn-danger mr-2">Delete Poll</button>
								<button class="btn btn-secondary mr-2">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>
</div>
<br>
<br>
<br>

<ng-template #questionForm let-modal>

	<app-question-form 
	[modal]="modal"
	[data]="selectedItem" 
	[crudMode]="crudMode"
	(onSave)="doOnSaveQuestion($event)">

</app-question-form>

</ng-template>
