<div class="container">
  <div class="row">
    <div class="col-12">
      <fieldset>
        <div class="card">
          <div class="card-content">
            <div class="card-header">
              <h3>Add question</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="form">
                    <div class="form-group">
                      <div class="control-label">Question Id</div><br>
                      <input type="text" class="my-form-control-id" [readonly]="true" [disabled]="true">
                    </div>
                    <div class="form-group">
                      <label class="control-lable">Question text</label><br>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="control-lable">Value</label><br>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="control-lable">Answer</label><br>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="control-lable">Hint</label><br>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-12">
									<label class="control-label">Save and countinue</label>
									<input type="checkbox" class="checkbox">
									<a href="#" class="btn btn-primary">Save Question</a>
									<a href="#" class="btn btn-secondary">Cancel</a>
								</div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>