<div class="card">
	<div class="card-content">
		<div class="card-header">
			<h3>Create/Edit Question</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<div class="form">
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label class="control-label">Question Id</label><br>
									<input type="text" class="my-form-control-id" [readonly]="true" [disabled]="true">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-12">
								<div class="form-group">
									<label class="control-label">Question Text</label>
									<input type="text" class="form-control" >
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-12">
								<div class="form-group">
									<label class="control-label">Value</label>
									<input type="text" class="form-control" >
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-12">
								<div class="form-group">
									<label class="control-label">Anwser</label>
									<input type="text" class="form-control" >
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-12">
								<div class="form-group">
									<label class="control-label">Hint</label>
									<input type="text" class="form-control" >
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<input type="checkbox"><label class="control-label">Save and continue</label>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#QuestionForm">Save</button>
							<button  class="btn btn-secondary">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	